<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style=background-color:pink;background-image:url('Lavender_aesthetic_collage.jpg')">

<h1>Registration Form</h1>
<form action="register" method="post">
    {%csrf_token %}
    <input type="text" name="username" placeholder=" Enter your UserName"><br>
    <input type="text" name="First_name" placeholder="Enter your first Name"><br>
    <input type="text" name="Last_name" placeholder="Enter your Last Name"><br>
    <input type="email" name="email" placeholder="Enter your email address"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>